# 변수와 함수/연산자

<strong style='color:red;font-size:1.5em'>프로그램이 하는 일</strong>
<p>
<span style="font-size:1.2em">- 정보(데이터)를 처리한다.</span>

- <b style='font-size:1.2em'>정보(데이터)</b>: **변수(Variable)와 값(Value)** 로 프로그램에 표현한다.
- <b style='font-size:1.2em'>처리한다</b>: **연산자(Operator)와 함수(Function)** 으로 프로그램에 표현한다.
    
> 표현(Expression): 어떤 것을 코드에 작성하는 방법을 표현(Expression)이라고 한다.  
> 예를 들어 프로그램에 숫자 십을 표현할 때 `10` 이라고 한다. 이런 것을 정수의 표현/표현식 이라고 한다.

# 변수 (Variable)
- 데이터를 저장하는 메모리 공간
- 이 메모리 공간은 이름(변수이름)으로 관리된다.
    - 그래서 변수이름은 우리가 사용하는 값의 이름으로 사용된다.
    
## 변수 선언및 초기화
- 변수명 = 값
    - 변수는 반드시 선언하면서 값을 대입 해야 한다.
    - 선언시 대입할 값이 없으면 None을 대입 (`name = None`)

In [3]:
age = 30  # 변수 age를 생성하고 30을 대입.
print(age) # 변수 age의 값을 출력(print) 해라.
# 실행: shift + enter (실행후 다음 cell로 이동. 다음 cell이 없으면 생성)
#    : control + enter (실행후 실행한 현재 cell에 머문다.)

30

In [4]:
print(age + 10)     # 변수 age가 가진 값에 10을 더하는 처리 -> 그 결과를 출력

40

In [5]:
age = 40
print(age)
print(age + 10)

40
50

  
### 식별자 규칙과 변수이름 주는 관례

#### 식별자 규칙
- 식별자란 파이썬에서 사용하는 것들을 구분하기 위해 주는 이름을 말한다. 
- 사용할 수 있는 문자는 **일반 문자**(영어 알파벳 뿐 만 아니라 한글 한자 등 모든 일반 문자를 사용할 수 있다.), **숫자, 특수 문자는  _(underscore) 만** 가능.
- 숫자는 **두번째 글자** 부터 사용할 수 있다.
- **예약어(keyword, reserved word)**는 사용할 수 없다.
- 대소문자를 구별한다.

> <b style='font-size:1.2em'>파이썬 키워드</b>
> ```python
> False      await      else       import     pass
> None       break      except     in         raise
> True       class      finally    is         return
> and        continue   for        lambda     try
> as         def        from       nonlocal   while
> assert     del        global     not        with
> async      elif       if         or         yield
> ```

#### 변수이름 관례
- 모든 글자를 소문자로 한다.
- 여러단어를 조합할 경우 `_` 로 구분한다.
- 예: `name`, `age`, `customer_name`, `product_id`, `sale_price`

In [8]:
name = "홍길동"
# print(NAME) # 소문자 변수명의 변수를 대문자로 호출
print(name)

홍길동

In [9]:
age1 = 20
age2 = 30
age3 = 40

In [10]:
1age = 10 #숫자는 두번째 부터 사용가능.

SyntaxError: invalid decimal literal (2257795849.py, line 1)

In [11]:
customer_age = 30
_ = 100
_____ = 3000

> **print()함수**
> - ( ) 안에 전달해주는 값(Argument)을 문자열로 변환 후 화면(Teminal)에 출력하는 함수
>     - 값에 엔터를 붙인뒤 출력한다.
> - 여러개의 값을 출력할 경우 나열해서 전달하면 된다.
> - 여러개의 값을 출력할 경우 구분자는 공백을 기본값으로 한다. 다른 구분자를 사용할 경우 `sep=구분자문자열`를 전달한다.
> - 뒤에 엔터 대신 다른 값을 붙일 경우 `end=붙일문자열` 을 전달한다.

In [15]:
# 출력할 값 + 엔터
print('출력할 값')
print(age1)
print(age2)
print(age3)

출력할 값
20
30
40

In [18]:
# 엔터대신 다른 것을 뒤에 붙이고 싶을 경우
print('출력할 값', end="")
print(age1)
print(age2)

출력할 값20
30

In [21]:
# 한번에 여러개 값을 출력 -> , 를 구분자로 나열
print(age1, age2, age3, "출력할 값", sep="-----") # sep="공백대신 사용할 구분문자열 지정."

20-----30-----40-----출력할 값

In [24]:
name = "홍길동"
age = 20
address = "서울"

print("이름:", name)
print("나이:", age)
print("주소:", address)

이름: 홍길동
나이: 20
주소: 서울

In [27]:
# REPL 에디터 (대화형)
# Read
# Evaluate
# Print
# Loop
age1

20

In [33]:
print("홍길동")

홍길동

## 변수 사용
- 변수를 사용하는 것은 변수에 값을 변경(대입)과 변수가 가진 값을 조회하는 두가지가 있다.

### 변수에 값 대입/할당 (assignment)
1. 변수명 = 값
    - `=`을 기준으로 왼쪽은 변수, 오른쪽은 대입할 값
    - 대입할 값으로 다음이 올 수 있다.
        - Literal 값(값 표현식)
        - 다른 변수
        - 연산식
    - 변수 초기화와 변수값 변경의 파이썬 구문은 동일하다. 변수를 처음 만들고 값을 대입하면 초기화이고 그 이후 할당하는 것들은 변경이 된다.

2. 여러 변수에 동일 한 값 대입
    - a = b = c = 30

3. 여러 변수에 다른 값 대입을 한 구문으로 처리
    - `a, b, c = 10, 20, 30`

In [35]:
print(name)
name = "이순신" # 변수의 값을 변경
print(name)

홍길동
이순신

In [37]:
이름 = "유관순"  # 없는 변수에 값을 대입 ==> 변수 정의
print(이름)

유관순

In [38]:
이름2 = name   #변수1 = 변수2  : 변수2의 값을 변수1에 대입
print(이름2)

이순신

In [39]:
# 하나의 값을 여려변수에 대입
# no1 = 20
# no2 = 20
# no3 = 20
no1 = no2 = no3 = 20
print(no1, no2, no3)

20 20 20

In [40]:
# c_id = "id-1111"
# c_pwd = '1234'
# c_name = '홍길동'
# c_age = 30


c_id, c_pwd, c_name, c_age = "id-1111", "1234", "홍길동", 30
print(c_id, c_pwd, c_name, c_age)

id-1111 1234 홍길동 30

In [ ]:
# control + /  주석 단축키

In [41]:
a, b, c = 10, 20  # 변수개수와 값의 개수는 동일해야 한다.

ValueError: not enough values to unpack (expected 3, got 2)

4. 대입(할당) 연산자(Assignment operator)

- 변수의 값을 그 변수와 다른 값을 연산한 결과로 변경한다.
|연산자|예|동일연산|
|:-|-|-|
|=|x = 1||
|+=|x += 1|x = x + 1|	
|-=|x -= 1|x = x - 1|	
|*=|x *= 1|x = x * 1|	
|/=|x /= 1|x = x / 1|	
|%=|x %= 1|x = x % 1|	
|//=|x //= 1|x = x // 1|	
|\*\*=|x \*\*= 1|x = x \*\* 1|

In [47]:
x = 1
print(x)
x += 2   # x = x + 2
print(x)
x -= 5  # x = x - 5
print(x)

1
3
-2

In [48]:
x += 1  # 1씩 증가

In [50]:
y = 100
y ** 3

1000000

In [51]:
y **= 2  # y = y ** 2
print(y)

10000

### 변수값 조회
- 값을 사용해야 하는 자리에 변수명을 표현하면된다.
    - 변수명을 쓰면 그 변수가 가진 값을 조회해 사용한다.

In [52]:
age = 30
print(age)
i = age + 5
print(i)

30
35

## 변수를 메모리에서 제거

메모리에서 변수(데이터 저장공간)을 제거할 때는 `del 변수명` 명령어를 사용한다.

In [54]:
age = 10
print(age)
age = None
print(age)

10
None

In [55]:
del age
print(age)

NameError: name 'age' is not defined

# 데이터 타입 (Data Type)

- 값들의 형태(type)에 따라 종류를 분류한 것
- 데이터타입은 값을 표현하는 방식과 관련 연산자들을 익히도록 한다.

## None 값
- 아무 값도 없음을 나타내는 값

## 숫자형(Numeric) - 정수, 실수

- 정수(int)와 실수(float) 형이 있다.
    - **정수 표현식**
        - 10, 20, -1, -20, 0
        - 16진수 표기
            - 0x 로 시작 (0xAF29)
        - 8진수 표기
            - 0O 으로 시작 (0o71)
    - **실수**
        - 20.1, 0.123411, 15.2321598
        - 지수표기법
            - $5e7$ -> $5.0\times10^7$
            - $3e-7$ -> $3\times10^{-7}$

In [2]:
print(0x53) # 16진수 -> 출력은 10진수로 변환되서 출력
print(0o71) # 8진수

83
57

In [3]:
print(5e2) # 5 x 10**2

500.0

In [5]:
print(3e-2) # 3 * 10**-2  # 0.03

0.03

In [6]:
10 / 3

3.3333333333333335

In [9]:
0.1+0.1+0.1+0.1+0.1+0.1+0.1+0.1+0.1+0.1

0.9999999999999999

In [8]:
# 반올림 - 기본: 정수, 자릿수지정-지정된 자릿수 이하에서 반올림
round(10/3,  2)

3.33

### 연산자
<b style='font-size:1.2em'>산술연산자</b>

|Operator(연산자)|설명|예|
|-|-|-|
|+|덧셈|x + y|
|-|뺄셈|x - y|
|*|곱셈|x * y|
|/|나눗셈|x / y|
|%|Modulus(나머지 나누기 연산자)|x % y|
|//|Floor division(몫 나누기 연산자)|x // y|
|**|제곱연산|x ** y|

In [13]:
num1, num2 = 10, 3   #num1=10, num2=3
print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 ** num2)

13
7
30
1000

In [16]:
print(num1 / num2) # 기본 나눗셈
print(num1 // num2) # 몫
print(num1 % num2) # 나머지

3.3333333333333335
3
1

## 논리형(bool)
- **참(True)과 거짓(False)을** 표현하는 데이터 타입
    - 제어문에서 많이 사용된다.
- 값 표현식
    - True, False
- bool 값이 들어가야 하는 구문에 다른 타입의 값을 작성하면 자동적으로 bool 타입으로 변환된다. (묵시적 형변환이라 한다.)
    - **0글자의 문자열, 숫자 0, None, 원소가 하나도 없는 자료구조는** False로 변환되고 그 이외는 True로 변환된다.

In [18]:
print(True)
print(False)

True
False

In [ ]:
is_success = True  # False

- input(\[label\]) 함수
    - 사용자로 부터 값을 입력받을 때 사용한다.
    - 사용자의 입력을 기다렸다 사용자가 값을 입력하고 엔터를 치면 그 입력한 값을 읽어 반환한다.
    - 어떤 값을 입력받을 것인지 Label을 문자열로 전달할 수 있다.

In [ ]:
txt = input()

In [21]:
print(txt)

aaaaaaaaa

In [24]:
name = input("이름:")

이름:홍길동

In [25]:
print(name)

홍길동

In [2]:
input()

a

'a'

### 논리형 관련 연산자
<b style='font-size:1.2em'>비교 연산자</b>
- 결과가 bool 타입
- 기준은 왼쪽의 피연산자이다.
|연산자|설명|예|
|-|-|-|
|==|같은가?|x == y|	
|!=|같지 않은가?|x != y|	
|>|x가 큰가?|x > y|
|<|x가 작은가?|x < y|	
|>=|x가 크거나 같은가?|x >= y|
|<=|x가 작거나 같은가?|x <= y|

In [11]:
num1 = 10
num2 = 20
num3 = 10

print(num1 == num2,  num1 != num2)
print(num1 > num2, num1 > num3, num1 >= num3)
print(num1 < num2, num1 < num3, num1 <= num3)

False True
False False True
True False True

In [15]:
print("a" > "b")
print("a" > "A")   
print("a" > "가")
print("1" > "A")
# 특수문자 < 숫자 < 대문자 < 소문자 < 한글

False
True
False
False

In [ ]:
print("abcef" > "abdadsf")

In [16]:
print("1" > 2) # 다른 타입끼리는 비교할 수 없다.

TypeError: '>' not supported between instances of 'str' and 'int'

In [17]:
name = input("이름:")

이름:홍길동

In [18]:
name == "홍길동"

True

In [19]:
name == "이순신"

False

In [23]:
age = input("나이:")  #input()은 문자열로 입력을 받는다.

나이:30

In [24]:
# age:문자열 -> 정수로 변환  int(다른타입의 값)
int(age) > 20

True

<b style='font-size:1.2em'>논리 연산자</b>
- 피연산자가 bool 타입이고 결과도 bool 타입이다.
- &, |, ^ 기호를 연산자로 사용할 때는 피연산자를 ( )로 묶어 줘야 한다.
|연산자|설명|예|
|:-|-|-|
|and, &|피연산자 모두 True이면 True를 하나라도 False이면 False를 반환.|x > 5 and  x < 10|	
|or, \||피연산자 둘중 하나만 True이면 True를 둘다 False이면 False를 반환.|x > 5 or x < -4|
|^|XOR 연산. 피연산자가 다를 경우 True, 같으면 False를 반환.|(x > 5) ^ (x < 4)|
|not|단항연산자. 결과를 뒤바꾸어 반환. True는 False로 False는 True로 반환.|not(x < 5 and x < 10)|

In [33]:
name = input("이름:")
age = input("나이:")
age = int(age)

이름:홍길동
나이:20

In [29]:
# 나이가 20대인지?
age >= 20 and age < 30   #두조건이 모두 True인지 확인->and

False

In [31]:
# 이름이 이순신이고 나이는 25이상인지?
name == "이순신" and age >= 25

True

In [40]:
(name == "이순신") & (age >= 25)

False

In [34]:
# 이름이 홍길동 이거나  나이가 40 이상인지?
name == "홍길동" or age >= 40

True

In [36]:
(name == "홍길동") | (age >= 40 )

True

In [41]:
# 나이가 20보다 크지 않다면?
not(age > 20)

True

In [43]:
not True
not False

True

In [46]:
print(True ^ True)
print(False ^ False)

False
False

In [47]:
print(True ^ False)
print(False ^ True)

True
True

In [49]:
num1 = 10
num2 = 20
(num1 > 0) ^ (num2 > 0)

False

<b style='font-size:1.2em'>조건 연산자</b>


True일때 결과값 <b style='color:purple'>if</b> 조건식 <b style='color:purple'>else</b> False일때 결과값
- 조건식이 True이면 앞의 값을 False이면 뒤의 값을 연산결과로 반환한다.

In [52]:
num = input("정수:")
num = int(num)

정수:-20

In [53]:
result = "양수" if num >= 0 else "음수"  
#num >=0 이 True이면 "양수"(if앞의 값), False이면 "음수"(else 뒤의 값) 를 반환
print(result)

음수

In [56]:
num = input("정수:")
num = int(num)

result = "양수" if num > 0 else ("0" if num==0 else "음수")
print(result)

정수:-290
음수

## 문자열 (string)

- 0글자 이상의 문자열을 표현한다.
- 파이썬 3.0 부터는 유니코드 문자열을 지원하므로 영문자 뿐 아니라 모든 나라의 철자들을 기본으로 사용할 수 있다.
- 문자열 표현식
    - **작은 따옴표 또는 큰 따옴표**로 감싼다.
    - 여러줄 문자열(Multiline string)은 **3개 짜리 작은따옴표 또는 큰따옴표**로 감싼다.
        - 문자열 데이터에 `엔터`가 들어갈 경우 편리하다.
    - Escape 문자
        - 키보드에는 있지만 글자로 표현할 수 없는 문자들을 표현할 때 사용한다. `예) 엔터, Tab, Back space 등`
        - 사용하는 글자가 원래 의미에서 벗어나(escape) 다른 의미로 쓰인다고 해서 escape문자라고 한다.
        - 파이썬 뿐 아니라 모든 프로그래밍 언어에서 사용하는 표준이다.
        - 표현: `\문자`

      
        
<b style='font-size:1.2em'>주요 Escape 문자</b>

|Escape문자|설명|
|-|-|
|\n|엔터|
|\t|Tab|
|\b|Backspace|
|\\\\|\\|
|\\\"|"|
|\\\'|'|


>- r-string (raw string)
>  - 문자열 앞에 r 접두어를 붙인다. (raw) 
>  - escape 문자구분자인 \를 무시하여 escape 문자로 변환하지 않고 작성한 그대로 사용한다.
>  - ex) r"c:\test\example\a.txt"

In [57]:
이름 = "홍길동"
주소 = '서울시 금천구 독산동'
print(이름)

홍길동

In [59]:
print("주소")
print(주소)

주소
서울시 금천구 독산동

In [60]:
정보 = "이름: 홍길동, 나이: 20, 주소: 서울"
print(정보)

이름: 홍길동, 나이: 20, 주소: 서울

In [61]:
정보 = "이름: 홍길동\n나이: 20\n주소: 서울"
print(정보)

이름: 홍길동
나이: 20
주소: 서울

In [62]:
정보2 = """이름:홍길동
나이:20
주소:서울"""
print(정보2)

이름:홍길동
나이:20
주소:서울

In [63]:
정보2

'이름:홍길동\n나이:20\n주소:서울'

In [64]:
정보

'이름: 홍길동\n나이: 20\n주소: 서울'

In [67]:
path = "c:\\test\\backup\\a.txt"
print(path)

c:\test\backup\a.txt

In [68]:
path2 = r"c:\test\backup\a.txt"  # r-string: escape 문자를 안쓰겠다.
print(path2)

c:\test\backup\a.txt

In [69]:
str= "abc"

In [71]:
print(str)

abc

In [76]:
int = "abc"

In [78]:
del int

In [79]:
int("30")

30

In [80]:
del str

In [81]:
str(5)

'5'

<b style='font-size:1.2em'>문자열 연산자</b>
- 문자열 + 문자열
    - 두 문자열을 합친다.
    - 문자열은 문자열과만 `+` 연산을 할 수 있다. 다른 타입과 합칠 경우 다른 타입을 문자열로 변환한 뒤 연산해야 한다. (str() 함수이용)

In [82]:
"abc"+"가나다"

'abc가나다'

In [89]:
name = "홍길동"
age = 20
address = "서울"
tall = 172.5
print("이름: "+name)
print("주소: "+address)
print("나이: "+str(age))  # 문자열 + 다른타입 => 다른타입을 문자열(str)으로 변환을 먼저 해야 한다.
print("키: "+str(tall))

이름: 홍길동
주소: 서울
나이: 20
키: 172.5

- 문자열 * 정수
    - 문자열을 정수번 반복해서 합친다.

In [90]:
"안녕"+"안녕"+"안녕"+"안녕"+"안녕"

'안녕안녕안녕안녕안녕'

In [91]:
"안녕" * 5

'안녕안녕안녕안녕안녕'

In [94]:
print("정보1")
print("=========================")
print("=" * 50)
print("정보2")

정보1
=========================
==================================================
정보2

- `in`, `not in`
    - 문자열A in 문자열B
        - 문자열A가 문자열B에 **있**으면 True, 없으면 False를 반환
    - 문자열A not in 문자열B
        - 문자열A가 문자열B에 **없**으면 True, 있으면 False를 반환

In [95]:
"hello" in "hello world"   # hello world 안에 hello 가 있냐?

True

In [96]:
"안녕" in "hello world"

False

In [97]:
"hello" not in "hello world"  # hello world 안에 hello 가 없냐?

False

In [98]:
"안녕" not in "hello world"

True

In [100]:
address = input("주소:")
print("서울주소?", "서울" in address)

주소:경기도 성남시
서울주소? False

- len(문자열)
    - 글자수를 반환한다.

In [101]:
len("abc")

3

In [104]:
len(" ")

1

In [105]:
len("\n")

1

In [106]:
len("") # 빈문자열 (0글자)

0

In [110]:
v = input("정보:")
"글자를 입력하세요" if len(v) == 0 else v

정보:

'글자를 입력하세요'

### Indexing과 Slicing

- Indexer 연산자
    - `집합형태[식별자]`
        - 여러개의 값이 모여있는 집합 형태의 데이터에서 그 중 일부를 조회할 때 사용하는 연산자.
            - 문자열, 자료구조 등 다양한 데이터타입에 사용한다.
        - 조회하고자 하는 일부를 식별할 수 있는 `식별자`를 \[\] 안에 넣어 조회한다.
- indexing과 slicing
    - **indexing**: 집합내에서 하나의 값을 조회하는 방법
    - **slicing**: 집합내에서 여러개의 값들을 범위로 지정해 조회하는 방법

### Indexing과 Slicing을 이용해 문자열내의 일부 문자들(sub string) 조회
- **문자열 내의 각 문자들은 식별자로 index를 가진다.**
    - 양수 index
        - 문자열 앞에서 부터 붙여주는 index
        - 0부터 1씩 증가하는 값을 붙여준다.
        - **앞에서 몇번째 글자 식**으로 조회할 때 사용한다.
    - 음수 index
        - 문자열 맨 뒤에서 부터 붙여주는 index
        - -1 에서 1씩 감소하는 값을 붙여준다.
        - **뒤에서 몇번째 글자 식**으로 조회할 때 사용한다.
    - 모든 문자는 양수/음수 index 두개를 가진다.
    ![index](images/ch02_01.png)

#### Indexing
- 문자열\[index\]
    - index의 문자를 조회
    - 변경은 안된다.
        - 문자열 값 안의 일부를 변경할 수 없다.
        - 문자열처럼 내부의 값을 변경할 수 없는 데이터 타입을 불변(Immutable)이라고 한다.

In [111]:
s = "안녕하세요. 반갑습니다."
print("글자수:", len(s))

글자수: 13

In [113]:
print("앞에서 2번째 글자:", s[2-1], s[1])
print("앞에서 7번째 글자:", s[6])

앞에서 2번째 글자: 녕 녕
앞에서 7번째 글자:

In [115]:
print("뒤에서 3번째 글자:", s[10], s[-3])

뒤에서 3번째 글자: 니 니

In [117]:
# 앞에서 2번째 7번째 글자
# s[1, 6]  # 한번에 여러글자 조회는 안된다.
s[1], s[6]

('녕', ' ')

#### Slicing
- 기본구문: **문자열 \[ 시작 index : 종료 index : 간격\]**
    - 시작 index ~ (종료 index – 1)
    - 간격을 지정하면 간격만큼 index를 증/감한다. (생략 시 1이 기본 간격)
- **0번 index 부터 조회 할 경우 시작 index는 생략가능**
    - str_value \[ : 5\] => 0 ~ 4 까지 조회
- **마지막 index까지 (끝까지) 조회 할 경우 종료 index는 생략 가능**
    - str_value\[2 : \] => 2번 index 에서 끝까지
- **명시적으로 간격을 줄 경우**
    - str_value\[ : : 3 \] => 0, 3, 6, 9.. index의 값 조회
    - str_value\[1 : 9 : 2\] => 1, 3, 5, 7 index의 값 조회
- **시작 index > 종료 index, 간격을 음수로 하면 역으로 반환한다.(Reverse)**
    - str_value\[5: 1: -1\] => 5, 4, 3, 2 index의 값 조회
    - str_value\[: : -1\]  => 마지막 index ~ 0번 index 까지 의미. Reverse 한다.

In [119]:
s[1:6]  # 시작 index: 1 ~ 종료 index: 6-1, 간격(step): 1

'녕하세요.'

In [124]:
s2 = '0123456789'

# index 2 에서 부터 끝까지
print(s2[2:])
# 첫번째 글자부터 index 5까지.
print(s2[: 6])
# 두번째 글자부터 뒤에서 3번째 글자까지.
print(s2[1:-3], s2[1 : 7])

23456789
012345
123456 123456

In [125]:
# 2의 배수 index의 글자. 0, 2, 4, ...
print(s2[::2])

02468

In [128]:
print(s2[-2 : 2 : -1]) # reverse (역순으로 조회)

876543

In [129]:
s2[::-1]

'9876543210'

### Format string (형식문자열) 생성
- 문자열에 문장 형식/구성/Layout을  미리 만들어 놓고 값은 나중에 대입하는 방식으로 문자열을 만드는 것
    - 여러 문자열이 같은 Layer에 특정 값들만 바뀌는 경우 사용한다.
        - 이름 : XXX 나이 : XXX 성별 : XXX  
        - 기본 형식은 같은데 XXX에 들어갈 값들은 그때 그때 다를 경우 사용
1. format() 함수 이용
    - 문자열을 만들 때 값을 나중에 넣을 위치 { } 로 표시하고 format() 메소드에서 { }에 들어갈 값을 순서대로 넣는다.

> 값을 넣어줄 자리를 지정하는 것을 **placeholder** 라고 한다.

In [136]:
name = "홍길동"
age = 20
address = "서울"
tall = 182.76
weight = 82.8

In [135]:
# info = "이름:"+name + "\n나이:"+str(age) + address + str(tall) + str(weight)
# print(info)

이름:홍길동
나이:20서울182.7682.8

In [138]:
layout = "이름: {}\n나이: {}\n주소: {}\n키: {}\n몸무게: {}"
info = layout.format(name, age, address, tall, weight)
print(info)

이름: 홍길동
나이: 20
주소: 서울
키: 182.76
몸무게: 82.8

In [139]:
name2 = "이순신"
age2 = 25
address2 = "경기도"
tall2 = 172.76
weight2 = 52.8

In [140]:
info2 = layout.format(name2, age2, address2, tall2, weight2)
print(info2)

이름: 이순신
나이: 25
주소: 경기도
키: 172.76
몸무게: 52.8

2. % value 사용
    - 타입을 지정하는 % value를 이용해 값을 넣어줄 자리를 지정한다.
    - format 문자열과 넣어줄 값은 % 로 구분한다.
    
|% value|설명|
|-|-|
|%s|string|
|%d|int-정수|
|%f|float-실수|
|%%|%|

실수는 소수점자릿수를 6자리로 맞추기 때문에 정밀도를 표현하는 표현식을 지정하는 것이 좋다. `ex) %.2f`

In [143]:
layout2 = "이름: %s, 나이: %d, 몸무게: %.2f"
info3 = layout2 % (name, age, weight)
print(info3)

이름: 홍길동, 나이: 20, 몸무게: 82.80

In [144]:
layout2 % ("이순신", "서른살", 70.3)

TypeError: %d format: a real number is required, not str

3. f-string (format string)
    - 파이썬 3.6에서 추가된 형식
    - 문자열 앞에 접두어 `f`를 사용한다.
    - 값을 넣을 자리에 {변수명} 을 이용해 변수가 가진 값을 문자열에 추가한다.

In [152]:
info = f"이름: {name}, 나이: {age}, 주소: {address}, 몸무게: {weight}, 키: {tall}"
print(info)

이름: 홍길동, 나이: 20, 주소: 서울, 몸무게: 82.8, 키: 182.76

In [151]:
info2 = f"이름: {name2}, 나이: {age2}"
print(info2)

이름: 이순신, 나이: 25

### string 주요 메소드

|메소드|설명|
|-|-|
|split(구분문자열)|구분 문자열을 기준으로 나눈다.|
|strip(), lstrip(), rstrip()|앞뒤(strip) 앞(lstrip) 뒤(rstrip) 공백 제거|
|replace('바꿀 문자열', '새문자열')|바꿀 문자열을 새문자열로 변경|
|count('세려는 문자열')|string안에 세려는 문자열이 몇개 있는지 반환|
|index(문자열), find(문자열)|문자열이 몇번째 index에 있는지 반환|
|upper(), lower()|모든 글자를 대문자(upper), 소문자(lower)로 변환|
|capitalize()|문자열의 첫글자를 대문자로 변환|
|islower(), isupper()|문자열이 모두 소문자(islower), 대문자(isupper)이면 True 아니면 False를 반환|
|startswith("문자열"), endswith("문자열")|문자열로 시작하는지/끝나는지 여부 반환|

## 데이터 타입 변환 (형변환) 함수
- 값의 데이터타입을 확인하는 함수
    - type(값)
- 정수로 변환
    - int(value)
- 실수로 변환
    - float(value)
- 문자열로 변환
    - str(value)
- 논리형으로 변환
    - bool(value)

## 동적타입 언어
- 변수가 가질 수 있는 값의 타입을 고정하지 않는다. 그래서 같은 변수에 서로 다른 타입의 값을 저장할 수 있다.
- 자유도는 높지만 프로그램의 규모가 커지면 오류의 원인이 될 수 있다. 
- 파이썬은 동적 타입 언어이다.

> - **정적 타입 언어**
>     - 변수를 선언할 때 그 변수에 저장할 수 있는 값의 타입을 고정시킨다.

# TODO

In [ ]:
#1. 주민번호 "901211-1027213"의 앞 6자리만 조회해서 출력하시오.


#2. "안녕하세요" 를 10번 출력하시오.


#3. 다음 문자열의 글자수를 출력하시오.
str_value = "akdlclkdkdlelql39du7마구0ㅌ" 


#4.
name="TV"
price=300000
maker = "LG"
# 위 변수의 값을 다음과 같은 형태로 출력하시오.
#"제품명 : TV, 가격 : 300000, 제조사 : LG"


#5.
fruits = "사과 복숭아 귤 배"
# 위 fruits에 "수박"이 있는지 확인하는 코드를 작성하시오.


#6.
str_value="aldkjaldjfalfjlksajfladlkaalalkdjfa"
# str_value 문자열안에 a가 몇개 있는지 출력하시오.

#7. 두개의 정수를 입력받아서 곱한 결과를 출력하는 코드를 작성하세요.